@import '~@angular/material/theming';

@mixin mcma-about-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  mcma-about {
    .background {
      color: mat-color($foreground, text);
      background-color: mat-color($background, background);

      .gradient {
        &::before {
          background: linear-gradient(
            to bottom,
            mat-color($background, background, 0) 0%,
            mat-color($background, background, 1) 100%
          );
        }
      }
    }

    .follow-releases,
    .contributors {
      p {
        background-color: mat-color($background, background);

        a {
          color: mat-color($accent);

          &:hover {
            color: mat-color($accent, darker);
          }
        }
      }
    }

    a {
      color: mat-color($primary);

      &:hover {
        color: mat-color($accent, darker);
      }
    }

    .contributors {
      img {
        border-color: mat-color($background, background) !important;
      }
    }

    section.light {
      background-color: #f2f0f0;
      color: #000;

      h1,
      h2,
      h3,
      h4 {
        color: mat-color($primary);
      }

      hr.divider {
        border-color: mat-color($primary);
      }

      fa-icon {
        color: mat-color($primary);
      }
    }

    section.dark {
      background-color: mat-color($primary);
      color: #d1c4e9;

      h1,
      h2,
      h3,
      h4 {
        color: #fff;
      }

      hr.divider {
        border-color: #fff;
      }

      fa-icon {
        color: #fff;
      }
    }
  }
}
