$mcma-black-primary: mat-palette($mat-grey, 700, 300, 900);
$mcma-black-accent: mat-palette($mat-blue-grey, 400);
$mcma-black-warn: mat-palette($mat-red, 500);

$mcma-black-theme: mat-dark-theme(
  $mcma-black-primary,
  $mcma-black-accent,
  $mcma-black-warn
);
