$mcma-primary: mat-palette($mat-deep-purple, 800);
$mcma-accent: mat-palette($mat-gray, 400);
$mcma-warn: mat-palette($mat-deep-orange, 900);

$mcma-theme: mat-light-theme($mcma-primary, $mcma-accent, $mcma-warn);
