$mcma-light-primary: mat-palette($mat-grey, 200, 500, 300);
$mcma-light-accent: mat-palette($mat-brown, 200);
$mcma-light-warn: mat-palette($mat-deep-orange, 200);

$mcma-light-theme: mat-light-theme(
  $mcma-light-primary,
  $mcma-light-accent,
  $mcma-light-warn
);
