$mcma-nature-primary: mat-palette($mat-brown, 700, 300, 900);
$mcma-nature-accent: mat-palette($mat-deep-purple, 300);
$mcma-nature-warn: mat-palette($mat-red, 600);

$mcma-nature-theme: mat-light-theme(
  $mcma-nature-primary,
  $mcma-nature-accent,
  $mcma-nature-warn
);
