@import 'styles-variables';

@import '../node_modules/bootstrap/scss/bootstrap-reboot';
@import '../node_modules/bootstrap/scss/bootstrap-grid';
@import 'styles-reset';

@import '../node_modules/@angular/material/theming';

@include mat-core();

@import 'themes/default-theme.scss';
@import 'themes/light-theme.scss';
@import 'themes/black-theme.scss';
@import 'themes/nature-theme.scss';

@import 'styles-reset.scss-theme';
@import 'app/app.component.scss-theme';
@import 'app/shared/big-input/big-input.component.scss-theme';
@import 'app/static/about/about.component.scss-theme';
@import 'app/examples/notifications/components/notifications.component.scss-theme';
@import 'app/examples/todos/components/todos-container.component.scss-theme';
@import 'app/examples/stock-market/components/stock-market-container.component.scss-theme';
@import 'app/examples/theming/parent/parent.component.scss-theme';
@import 'app/examples/theming/child/child.component.scss-theme';
@import 'app/examples/examples/examples.component.scss-theme';

@mixin custom-components-theme($theme) {
  @include mcma-styles-reset-theme($theme);
  @include mcma-app-component-theme($theme);
  @include mcma-about-component-theme($theme);
  @include mcma-big-input-component-theme($theme);
  @include mcma-notifications-component-theme($theme);
  @include mcma-todos-container-component-theme($theme);
  @include mcma-stock-market-container-component-theme($theme);
  @include mcma-parent-component-theme($theme);
  @include mcma-child-component-theme($theme);
  @include mcma-examples-component-theme($theme);

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);

  hr {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  hr.divider {
    max-width: 3.25rem;
    border-width: 0.2rem;
    border-color: mat-color($primary);
  }

  .dark-text {
    color: mat-color($primary) !important;
  }
}

.text-center {
  text-align: center !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.default-theme {
  @include angular-material-theme($mcma-theme);
  @include custom-components-theme($mcma-theme);
}

.light-theme {
  @include angular-material-theme($mcma-light-theme);
  @include custom-components-theme($mcma-light-theme);
}

.black-theme {
  @include angular-material-theme($mcma-black-theme);
  @include custom-components-theme($mcma-black-theme);
}

.nature-theme {
  @include angular-material-theme($mcma-nature-theme);
  @include custom-components-theme($mcma-nature-theme);
}
